.header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    padding: 24px 0;
}
.header .logo{
    width: 88px;
    height: 55px;
}

.navbar{
    display:flex;
    column-gap: 56px;
}

.navbar .navbar-link.active{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--primary);
}

.shape{
    width: 112px;
    height: 112px;
    position: absolute;
}
.slider .shape:first-child{
    bottom: 26px;
    left:-60px;
}

.slider .shape:last-child{
    top: 26px;
    right: -40px;
}

.sevice-item .inner .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
}
.sevice-item .inner .text{
    font-weight: 300;
    font-size: 16px;
}

.why-section .container{
    display: flex;
    column-gap: 75px;
}

.why-section .box{
    width: 50%;
    position: relative;
}

.why-section .box:nth-child(2) .text > *{
    margin-bottom: 28px;
}

.why-section .box:nth-child(2) .text ul, ol{
    list-style: decimal;
    margin-left: 17px;
    font-weight: 600;
}
.why-section .box:nth-child(2) .text{
    font-size: 18px;
}


.why-section .box:nth-child(2) .text ol li:not(:last-child),
.why-section .box:nth-child(2) .text ul li:not(:last-child){
    margin-bottom: 10px;
   
}


.why-section .box .photo{
    width: 380px;
    margin: 0 auto;
    position: relative;
}

.why-section .box .photo img:nth-child(2){
    width: 200px;
    height: 195px;
position: absolute;
bottom: -30px;
right: -65px;
}

.why-section .box .shape{
    top: -33px;
    left: 40px;
}